/* ImageWithSearch.css */

.image-with-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  margin-top: 30px; /* Adjust this value to center the image vertically */
}
img {
  height: 30vh;
  width: auto;
}
.search-container {
  margin-top: 20px; /* Adjust this value to add space between image and search */
}

.search-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
